
/*	---------------------------------------*/
/*		     CSS TITRES & RESET 		   */
/*	---------------------------------------*/
*{
	font-family: 'Barlow', sans-serif;
	list-style-type: none;
	text-decoration: none;
}

body{
	margin: 0;
}

h1{
	color: teal ;
	text-align: center;
	font-size: 100px;
	margin: 1em;
}

h2{
	color: teal ;
	text-align: center;
	font-size: 75px;
}

h3{
	color: teal ;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	font-size: 15px;
}

h4{
	color: grey ;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	text-indent: 10px;
	font-size: 13px;
}

h5{
	color: teal ;
	text-align: center;
	font-size: 30px;
	margin-bottom: 15px;
	padding-top: 10 px;
}

h6{
	color: rgb(36, 94, 94);
	text-align: left;
	font-size: medium;
	padding-left: 10%;
	margin-bottom: 10px;
}
/*	---------------------------------------*/


/*	---------------------------------------*/
/*					NAV BAR 			   */
/*	---------------------------------------*/
.navbar{
	width: 100%;
	padding: 1em 4em 1em 4em;
	border-bottom-right-radius: 80px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(57, 95, 95, 0.096);
}

.navbar .logo{
	font-size: 3em;
	font-weight: bold;
	color: teal;
	margin-left: 2em;
	
}
	/*Alignement elements*/
.navbar .nav-links ul{
	display: flex;
}
.navbar .nav-links ul li{
	margin: 10px  ;
}
.navbar .nav-links ul li a{
	font-size: 1.5em;
	position: relative;
}
.navbar .nav-links ul li.active a{
	font-weight: bolder;
}
	/*Annimation Nav-Bar*/
.navbar .nav-links ul li a::before {
	content: '';
	width: 0;
	height: 2px;
	background-color: teal;
	position: absolute;
	top: 100%;
	left: 0;
	transition: .5s;
}
.navbar .nav-links ul li:hover a::before {
	width: 100%;
}
.navbar .nav-links ul li:hover{
	transform: translateY(-5px);
}
/*	---------------------------------------*/


/*	---------------------------------------*/
/*		       LISTES RECHERCHE    		   */
/*	---------------------------------------*/
	/*background des listes de recettes*/
#attributs{
	color: teal;
	text-align: center;
	border-radius: 10px;
	background: rgba(88, 99, 109, 0.1);
	margin-bottom: 10px;
	margin-right: 6em;
	margin-left: 6em;
	padding-bottom: 8px;
}
.barre_liste{
	height: 1px;
	width: 92%;
	border-top: 1px solid rgba(88, 99, 109, 0.3);
	padding-top: 5px;
	padding-bottom: 5px;
}
/*	---------------------------------------*/


/*indefini*/

p{
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 0px;
}

a{
	text-decoration: none;
	color: teal;
}
.p_center{
	text-align: center;
}

#suggestions{
	cursor: pointer;
}

.item a {
	color: teal;
}






#header{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
}

#suggestions{
	list-style-type: none;
	text-align: left;
	font-size: 20px;
	padding-left: 15px;
}

#bouton{
	border: none;
	color: teal;
}

#bouton::before{
	padding: 100% 60%;
	border-radius: 10%;
	transition: 0.3s;
}

#bouton:hover:before{
	background-color: #cec8c87a;
}

.bordureSearch{
	width: 250px;
	padding-top: 20px;
	border-radius: 10px;
	display: inline-block;
	font-size: 20px;
	color: teal;
	background: rgba(88, 99, 109, 0.1);
}

.bordureNone{
	border: none;
	width: 200px;
	background: rgba(88, 99, 109, 0.0);
	color: teal;
	font-size: 20px;
}

ul.list li{
  display: inline-block;
  padding-right: 30px;
}

/*recettes*/
.barre{
	height: 1px;
	width: 85%;
	border-top: 1px solid rgba(88, 99, 109, 0.3);
	margin: auto;
}

.barre_ingredient{
	height: 1px;
	width: 85%;
	border-top: 1px solid rgba(88, 99, 109, 0.3);
	padding-top: 5px;
	padding-bottom: 5px;
}
/**/



#type{
	text-align: center;
	padding-bottom: 25px;
}

#type a{
	color: teal;
	text-align: center;
	font-size: 15px;
}

#type a:hover{
	color: lightblue;
}

#footer
{
	font-size: 1,2em;
	text-align: right;
	color: lightgray;
	padding: 25px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}

.item{
	flex: 2;
}

.item ul li{
	flex: 2;
	font-size: 1.8em ;
}

.timer{
	margin-top: 23px;
	margin-left: 100px;
	font-size: 30px;
}

#typing,
#typing-2,
#typing-3,
#typing-4 {
	font-family: 'Cedarville Cursive';
	font-size: 1.5em;
}

.photo .img{
	max-width: 100%;
	height: auto;
	display: flex;
	margin: auto;
 	border-radius: 20px;
  	padding: 5px;
	filter: sepia(40%);
	border : 5px solid teal;
	box-shadow:10px 10px 10px 0 rgba(0, 128, 128, 0.323);
}

.visible {
	cursor: pointer;
	font-size: 1.5em;
	border-color: teal;
	border-radius: 10px;
	background-image: linear-gradient(to right, rgb(21, 177, 177) 0%, #48a59a  51%, #2fcdba  100%);
	color: white;            
	box-shadow: 0 0 5px rgb(103, 99, 99);
	border-radius: 10px;
}

.invisible {
	border: none;
	background-color:white;
	color: white;
	display: flex;
	margin: 15px auto;
	transition: all 1s;
}

.but{
	width: 100%;
	height: 40px;
	align-items: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*	---------------------------------------*/
/*	PETIT-PAKI -> GESTION BOUTON SCROLL UP */
/*	---------------------------------------*/
#btn-up{
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 2em;
	bottom: 10em;
	transition:all 1s;
}

.hide{
	background:transparent;
	transition: 0.4s;
}
.show{
	background:rgba(0, 128, 128, 0.427);
	transform: rotate(360deg);
}

/*	---------------------------------------*/



/*	---------------------------------------*/
/*	PETIT-PAKI -> GESTION BOUTON SCROLL UP */
/*	---------------------------------------*/
.arrow{
	color: white;
	font-size: 2em;
}
.up{
	border: none;
	background:transparent;
	cursor: pointer;
}
/*	---------------------------------------*/

 
 

 