/*	---------------------------------------*/
/*		     CSS BALISES & RESET 		   */
/*	---------------------------------------*/
*{
	font-family: 'Barlow', sans-serif;
	list-style-type: none;
	text-decoration: none;
}

body{
	margin: 0;
}

p{
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 0px;
}

a{
	text-decoration: none;
	color: teal;
}

#header{
	text-align: center;
	padding: 25px 0 50px 0;
}

#header p{
	text-align: center;
}

h1{
	width: 100%;
	margin: 0;
	padding-bottom: 2em;
	color: teal ;
	text-align: center;
	font-size: 5em;
	/*background-image: url("./svg/plan-travail.jpg");*/
}



h2{
	color: teal ;
	text-align: center;
	font-size: 75px;
}

h3{
	color: teal ;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	font-size: 15px;
}

h4{
	color: grey ;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	text-indent: 10px;
	font-size: 13px;
}

h5{
	color: teal ;
	text-align: center;
	font-size: 30px;
	margin-bottom: 15px;
	padding-top: 10 px;
}

h6{
	color: rgb(36, 94, 94);
	text-align: left;
	font-size: medium;
	padding-left: 10%;
	margin-bottom: 10px;
}
/*	---------------------------------------*/




/*	---------------------------------------*/
/*					NAV BAR 			   */
/*	---------------------------------------*/
.navbar{
	width: 100%;
	height: 2em;
	padding: 4em 4em 3em 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	
}

.navbar .logo{
	font-size: 3em;
	font-weight: bold;
	color: teal;
	margin-left: 2em;
	
}
	/*Alignement elements*/
.navbar .nav-links ul{
	display: flex;
}
.navbar .nav-links ul li{
	margin: 10px  ;
}
.navbar .nav-links ul li a{
	font-size: 1.5em;
	position: relative;
}
.navbar .nav-links ul li.active a{
	font-weight: bolder;
}
	/*Annimation Nav-Bar*/
.navbar .nav-links ul li a::before {
	content: '';
	width: 0;
	height: 2px;
	background-color: teal;
	position: absolute;
	top: 100%;
	left: 0;
	transition: .5s;
}
.navbar .nav-links ul li:hover a::before {
	width: 100%;
}
.navbar .nav-links ul li:hover{
	transform: translateY(-5px);
}
/*	---------------------------------------*/





/*	---------------------------------------*/
/*				TITRE PRESENTATION		   */
/*	---------------------------------------*/
.book{
	width:100%;
	height: 400px;
	background-image: url("./svg/book.svg");
	background-size: 600px;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 2em;
}
.book .text{
	width: 50%;
	padding-left: 25%;
	padding-top: 15%;
}

.flower{
	width:100%;
	height: 400px;
	background-image: url("./svg/book.svg");
	background-size: 600px;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 2em;
}
.flower .text{
	width: 80%;
	padding-left: 10%;
	padding-top: 8em;
}

.recettes{
	width:100%;
	height: 400px;
	background-image: url("./svg/book.svg");
	background-size: 600px;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 2em;
}
.recettes .text{
	width: 80%;
	padding-left: 10%;
	padding-top: 13em;
}
/*	---------------------------------------*/
/*				PRESENTATION			   */
/*	---------------------------------------*/
#typing-2,
#typing-3,
#typing-4,
#typing {
	font-family: 'Cedarville Cursive';
	font-size: 50px;
}

.photo .img{
	max-width: 100%;
	height: auto;
	display: flex;
	margin: auto;
 	border-radius: 20px;
  	padding: 5px;
	filter: sepia(40%);
	border : 5px solid teal;
	box-shadow:10px 10px 10px 0 rgba(0, 128, 128, 0.323);
}

.visible {
	border: none;
	cursor: pointer;
	border-radius: 50px;
	display: flex;
	margin-top: 1em;
	padding: 2em;
	background:rgba(0, 128, 128, 0.427);
	
}

.invisible {
	border: none;
	background-color:white;
	color: white;
	display: flex;
	margin: 15px auto;
	transition: all 0.5s;
}

.lecture{
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-arrow-down{
	color: white;
	font-size: 2em;
}
/*	---------------------------------------*/



/*	---------------------------------------*/
/*		       LISTES RECHERCHE    		   */
/*	---------------------------------------*/
	/*background des listes de recettes*/
#attributs{
	color: teal;
	text-align: center;
	border-radius: 30px;
	background: rgba(0, 128, 128, 0.133);
	margin-bottom: 8em;
	padding-bottom: 8px;
	position: relative;
	margin-top: 5em;
}
.barre_liste{
	height: 1px;
	width: 92%;
	border-top: 1px solid rgba(88, 99, 109, 0.3);
	padding-top: 5px;
	padding-bottom: 5px;
}

.item-liste{
	font-size: 2em;
}

ul li a.item-liste:hover{
	font-weight: bold;
	font-style: italic;
}


/*	---------------------------------------*/




/*	---------------------------------------*/
/*			GESTION SCROLL UP			   */
/*	---------------------------------------*/
#btn-up{
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 2em;
	bottom: 10em;
	transition:all 1s;
}

.hide{
	background:transparent;
	transition: 0.4s;
}
.show{
	background:rgba(0, 128, 128, 0.427);
	transform: rotate(360deg);
}

.arrow{
	color: white;
	font-size: 2em;
}
.up{
	border: none;
	background:transparent;
	cursor: pointer;
}
/*	---------------------------------------*/





/*	---------------------------------------*/
/*		     	  RECETTES		  		   */
/*	---------------------------------------*/
.barre{
	height: 1px;
	width: 85%;
	border-top: 1px solid rgba(88, 99, 109, 0.3);
	margin: auto;
}

.barre_ingredient{
	height: 1px;
	width: 85%;
	border-top: 1px solid rgba(88, 99, 109, 0.3);
	padding-top: 5px;
	padding-bottom: 5px;
}
.ingredient{
	flex: 2;
	font-size: 1.8em;
}

.ingredient i{
	margin: 30%;
	padding-left: 25%;
	font-size: 1.5em;
}
.time{
	margin-top: 20%;
	padding-left: 5%;
	align-content: center;
	flex: auto;
}
.ingredient .time-repos{
	margin-top: 20%;
	align-content: center;
	flex: auto;
}

.top{
	width: 40%;
	background: linear-gradient(rgba(0, 128, 128, 0.435), rgba(0, 128, 128, 0.133));
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
	top: -1.6em;
	position: absolute;
	transform: translateX(75%);
	z-index: -0.5;
	color: teal ;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

.top h5{
	align-content: center;
	justify-content: center;
}
ul.espace{
	padding-top: 1em;
}

details{
	cursor: pointer;
}
/*	---------------------------------------*/





/*	---------------------------------------*/
/*		     	 GLOBAL    				   */
/*	---------------------------------------*/
ul.list li{
	display: inline-block;
	padding-right: 30px;
}
.container{
	display: flex;
	text-align: left;
}
/*	---------------------------------------*/




/*	---------------------------------------*/
/*		 	 PAGES PRINCIPALES    		   */
/*	---------------------------------------*/
#type{
	text-align: center;
	padding-bottom: 25px;
}
#type a{
	color: teal;
	text-align: center;
	font-size: 15px;
}
#type a:hover{
	color: lightblue;
}
/*	---------------------------------------*/



/*	---------------------------------------*/
/*		     BAR DE RECHERCHE   		   */
/*	---------------------------------------*/
.bordureSearch{
	width: 29em;
	border-radius: 10px;
	display: inline-block;
	font-size: 20px;
	color: teal;
	background: rgba(88, 99, 109, 0.1);
}

.search{
	display:flex;
	justify-content: left;
}
.searchBar{
	border: none;
	width: 23em;
	height: 1.5em;
	background: rgba(88, 99, 109, 0.0);
	color: teal;
	font-size: 20px;
}
#bouton{
	border: none;
	height: 1.5em;
	color: #008080;
	font-size: 1em;
}
#bouton::before{
	height: inherit;
    padding-top: 1.1em;
    padding-bottom: 1.5em;
    padding-right: 2em;
    margin-right: -1em;
    padding-left: 1em;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 0.3s;
}
#bouton:hover:before{
	background-color: #cec8c87a;
}

#suggestions{
	list-style-type: none;
	text-align: left;
	font-size: 20px;
	cursor: pointer;
}
/*	---------------------------------------*/





/*	---------------------------------------*/
/*		     	 FOOTER    				   */
/*	---------------------------------------*/
#footer
{
	font-size: 1em;
	text-align: right;
	color: lightgray;
	padding: 25px;
}
/*	---------------------------------------*/

/*	---------------------------------------*/
/*		     	 PAGE RECHERCHE  		   */
/*	---------------------------------------*/
.cards-list {
	z-index: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.box-2{
	z-index: 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	
	
}
.card-1{
	padding-left: 50px;
}
.card-2{
	padding-right: 50px;
}

.card {
	margin: 30px auto;
	width: 200px;
	height: 250px;
	border-radius: 40px;
  	box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
	cursor: pointer;
	transition: 0.4s;
}
.card:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
	  -5px -5px 30px 15px rgba(0,0,0,0.22);
  }


.card_title {
	text-align:end;
	font-size: 1.5em;
	margin-top: 0.8em;
	color: teal;
}
.card_image img{
	width: 45%;
    opacity: 50%;
}
.img-arrow img{
	width: 20%;
    margin-top: 1.5em;
    margin-left: 8em;
    transform: rotate(45deg);
	opacity: 30%;
} 
@media all and (max-width: 500px) {
	.card-list {
	  /* On small screens, we are no longer using row direction but column */
	  flex-direction: column;
	}
}

.baner{
	width: 100%;
	align-items: center;
	margin-bottom: 3em;
	background-color: rgba(0, 128, 128, 0.133);
}
.bloc{
	padding-top: 3em;
}
.bloc .sec{
	font-size: 2.5em;
}
/*	---------------------------------------*/










